.paging a.translation-filler-button {
    background: blue;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.paging a.translation-filler-button:hover {
    color: lightgray;
}

.paging a.translation-filler-button.translated {
    background: green;
}

.paging a.translation-filler-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.panel-header-actions .translation-filler-button {
    width: auto;
    padding: 5px;
    background-color: blue;
    color: white;
}

.panel-header-actions .translation-filler-button:focus {
    color: white;
}

.panel-header-actions .translation-filler-button:hover {
    background-color: blue;
    color: lightgray;
}

.panel-header-actions .translation-filler-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.panel-header-actions .translation-filler-button.translated {
    background-color: green;
}

.paging a.translation-filler-button {
    background: blue;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.paging a.translation-filler-button:hover {
    color: lightgray;
}

.paging a.translation-filler-button.translated {
    background: green;
}

.paging a.translation-entry-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.panel-header-actions .translation-entry-button {
    width: auto;
    padding: 5px;
    background-color: blue;
    color: white;
}

.panel-header-actions .translation-entry-button:focus {
    color: white;
}

.panel-header-actions .translation-entry-button:hover {
    background-color: blue;
    color: lightgray;
}

.panel-header-actions .translation-entry-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.panel-header-actions .translation-entry-button.translated {
    background-color: green;
}


.paging a.check_translation-button {
    background: blue;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.paging a.check_translation-button {
    color: lightgray;
}

.paging a.check_translation-button.ready {
    background: green;
}

.paging a.check_translation-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.panel-header-actions .check_translation-button {
    width: auto;
    padding: 5px;
    background-color: blue;
    color: white;
}

.panel-header-actions .check_translation-button:focus {
    color: white;
}

.panel-header-actions .check_translation-button:hover {
    background-color: blue;
    color: lightgray;
}

.panel-header-actions .check_translation-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.panel-header-actions .check_translation-button.ready {
    background-color: green;
}

