/* make ui smaller as it is unreadable with the new larg mask*/
.gp-content {
    max-width:1300px !important;
}
/* If Wordpress team decides to change the title position, this can be removed*/
.site-title {
    margin-left:-60px !important;
}

.panelTransMenu {
    height: 40px;
    text-align: right;
    border-bottom: 1px solid;
    border-color: #72777c;
    top: 132px;
}

.indeterminate-progress-bar {
    /* Color */
    background-color: white !important;
    color: white !important;
    /* Rounded border */
    border-radius: 9999px;
    /* Size */
    height: 0.8rem;
    position: relative;
    overflow: hidden;
}

.indeterminate-progress-bar__progress {
    /* Color */
    background-color: #3b82f6;
    /* Rounded border */
    border-radius: 9999px;
    /* Absolute position */
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    /* Move the bar infinitely */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }

    to {
        left: 100%;
    }
}


/* The Modal (background) */
.modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 200px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
      position: relative;
      background-color: lightskyblue;
      margin: auto;
      padding-left: 180px;
      padding-top: 10px;
      border: 1px solid #888;
      width: 40%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
}

.close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
}

.modal-header {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
}

.modal-body {
      padding: 2px 16px;
}

.modal-footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
}

.gp-table-actions {
      gap: 0.5rem !important;
}
.wptfNavBar {
      margin-bottom: 0.8rem;
      display: flex;
      vertical-align: middle;
      align-items: center;
      min-height: 32px;
}

.wptfNavBarCont .translation-filler-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .translation-filler-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}
.wptfNavBarCont .translation-filler-button:hover {
      background: darkgray !important;
}

.wptfNavBarCont .translation-filler-button.started {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .translation-filler-button.restarted {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      background-color: blue;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .translation-filler-button.after_error {
      animation: none;
      background: red;
}

.wptfNavBarCont .translation-filler-button.translated {
      animation: none !important;
      background: green;
      border-radius: 0%;
      border: 0px solid transparent;
      display: inline-block;
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
      margin: 5px !important;
}

.wptfNavBarCont .translation-filler-button.translated {
      background: green;
    }

.wptfNavBarCont .local-trans-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .local-trans-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}
.wptfNavBarCont .local-trans-button.translated {
      background: green;
}

.wptfNavBarCont .local-trans-button:hover {
      background: darkgray !important;
}

.wptfNavBarCont .local-trans-button.started {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .local-trans-button.restarted {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      background-color: blue;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .local-trans-button.after_error {
      animation: none;
      background: red;
}

.wptfNavBarCont .local-trans-button.translated {
      animation: none !important;
      background: green;
      border-radius: 0%;
      border: 0px solid transparent;
      display: inline-block;
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
      margin: 5px !important;
}

.wptfNavBarCont .check_translation-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}
.wptfNavBarCont .check_translation-button.ready {
      background: green;
}

.wptfNavBarCont .check_translation-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}

.wptfNavBarCont .check_translation-button:hover {
      background: darkgray !important;
}

.wptfNavBarCont .check_translation-button.started {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
}


.wptfNavBarCont .check_translation-button.restarted {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      background-color: blue;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .check_translation-button.after_error {
      animation: none;
      background: red;
}

.wptfNavBarCont .check_translation-button.ready {
      animation: none !important;
      background: green;
      border-radius: 0%;
      border: 0px solid transparent;
      display: inline-block;
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
      margin: 5px !important;
}

.wptfNavBarCont .tm-trans-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .tm-trans-button.translated {
      background: green;
}

.wptfNavBarCont .tm-trans-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}

.wptfNavBarCont .tm-trans-button:hover {
      background: darkgray !important;
}

.wptfNavBarCont .tm-trans-button.started {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
}


.wptfNavBarCont .tm-trans-button.restarted {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      background-color: blue;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .tm-trans-button.after_error {
      animation: none;
      background: red;
}

.wptfNavBarCont .tm-trans-button.translated {
      animation: none !important;
      background: green;
      border-radius: 0%;
      border: 0px solid transparent;
      display: inline-block;
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
      margin: 5px !important;
}

.wptfNavBarCont .impLoc-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .impLoc-button.imported {
      background: green;
}

.wptfNavBarCont .impLoc-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}

.wptfNavBarCont .impLoc-button:hover {
      background: darkgray !important;
}
.wptfNavBarCont .impLoc-button.started {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
}


.wptfNavBarCont .impLoc-button.restarted {
      content: "";
      display: inline-block;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      background-color: blue;
      animation: button-loading-spinner 1s ease infinite;
}

.wptfNavBarCont .impLoc-button.after_error {
      animation: none;
      background: red;
}

.wptfNavBarCont .impLoc-button.imported {
      animation: none !important;
      background: green;
      border-radius: 0%;
      border: 0px solid transparent;
      display: inline-block;
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
      margin: 5px !important;
}

.wptfNavBarCont .import_translation-button {
      background: darkcyan;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .import_translation-button:hover {
      background: darkgray !important;
}
    
.wptfNavBarCont .import_translation-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}

.wptfNavBarCont .export_translation-button {
      background: darkcyan;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}
.wptfNavBarCont .export_translation-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
}
.wptfNavBarCont .export_translation-button:hover {
      background: darkgray !important;
}
.wptfNavBarCont .bulksave-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .tm-trans-button.foreighn {
      background: grey;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .stats-button {
      background: blue;
      color: white !important;
      padding: 5px 5px 5px 5px;
      margin-left: 5px;
      margin-right: 5px;
      border: 2px solid !important;
      border-color: grey !important;
      border-radius: 5px !important;
}

.wptfNavBarCont .stats-button::before {
      content: '\f326';
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: normal 20px/1 'dashicons';
      vertical-align: middle;
      width: 28px;
    }

.wptfNavBarCont .stats-button:hover {
      background: darkgray !important;
    }

 .wptfNavBarCont .stats-button.after_error {
      animation: none;
      background: red;
    }

.wptfNavBarCont .stats-button.translated {
      animation: none !important;
      background: green;
      border-radius: 0%;
      border: 0px solid transparent;
      display: inline-block;
      padding-top: 0.1em !important;
      padding-bottom: 0.1em !important;
      margin: 5px !important;
    }

.paging .UpperCase-button.uppercase {
    background: grey;
    color: white !important;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
}

.paging .LoadGloss-button-red {
    background: red;
    color: white !important;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
}

.paging .LoadGloss-button-green {
    background: green;
    color: white !important;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
}

/* below function can to be removed if GlotPress has improved the behavior of the edit screen*/
.panel-header__bubble {
    padding: 1px 1px !important;
}

.translation-entry-my-button {
    content: '\f326';
    width: auto;
    height: 25px !important;
    padding: 4px !important;
    background-color: blue;
    color: white;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
    margin: 0.2em !important;
}

.translation-entry-my-button:focus {
    color: grey;
}

.translation-entry-my-button:hover {
    background-color: white !important;
    color: lightgray;
}

.translation-entry-my-button::before {
    content: '\f326';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal 20px/1 'dashicons';
    vertical-align: middle;
    width: 28px;
}

.translation-entry-my-button.started {
    display: inline-block;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

.translation-entry-my-button.translated {
    animation: none !important;
    background-color: #3CB371;
    border-radius: 0%;
    border: 0px solid transparent;
    display: inline-block;   
    margin: 0px !important;
    color: white;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
    width: auto;
    height: 32px !important;
}

    .translation-entry-my-button.translated_error {
        animation: none;
        background-color: red;
        width: auto;
        height: 32px !important;
    }

.translation-entry-my-button.restarted {
    content: "";
    display: inline-block;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    background-color: blue;
    animation: button-loading-spinner 1s ease infinite;
}

.translation-entry-my-button.restarted.translated {
        animation: none !important;
        background-color: #3CB371;
        border-radius: 0%;
        border: 0px solid transparent;
        display: inline-block;
        margin: 0px !important;
        color: white;
        border: 2px solid !important;
        border-color: grey !important;
        border-radius: 5px !important;
        width: auto;
        height: 32px !important;
}

.translation-actions copy-button {
      width: 40px;
      height: 28px;
      min-height: 20px;
      padding: 4px 6px 4px 8px ;
      margin: 0 4px;
      border: 1px solid #ccc;
      background: #fafafa;
      box-shadow: 0 1px 0 #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      border-color: #135e96;
}

.addtranslation-entry-my-button {
    width: auto;
    height: 25px !important;
    padding: 4px !important;
    background-color: blue;
    color: white;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
    margin: 0.2em !important;
}

.addtranslation-entry-my-button:focus {
      color: white;
}

.addtranslation-entry-my-button:hover {
      background-color: blue;
      color: lightgray;
}

.addtranslation-entry-my-button::before {
        content: '\f326';
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font: normal 20px/1 'dashicons';
        width: 28px;
        padding-top: 5px !important;
    }

.addtranslation-entry-my-button.ready {
      background-color: green;
}

.translocal-entry-missing-button {
    width: auto;
    height: 25px !important;
    padding: 4px !important;
    background: darkcyan;
    color: white;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
    margin: 0.2em !important;
}

.translocal-entry-local-button {
    width: auto;
    height: 25px !important;
    padding: 4px !important;
    background: darkcyan;
    color: white;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
    margin: 0.2em !important;
}

.my-translocal-entry-local-button {
    display: inline-block;
    vertical-align: middle;
    background: darkcyan;
    color: white;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 5px;
    height: 25px;
    font: normal 16px/1 'dashicons';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid !important;
    border-color: grey !important;
    border-radius: 5px !important;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.trans_exists_div {
    font-size: 0.9em;
    font-weight: 600;
    color: #ffffff;
    font-size: 11px;
    margin-top: 10px;
    padding: 1px 5px;
    margin-left: .2em;
    background-color: #036fa2;
    border-radius: 5px;
    display: block;
    width: 100% !important;
}

.trans_name_div {
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
    padding: 1px 5px;
    margin-left: .2em;
    background-color: #036fa2;
    border-radius: 5px;
    display: block;
    width: 50% !important;
}

.trans_name_div_true {
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
    padding: 1px 5px;
    margin-left: .2em;
    background-color: red;
    border-radius: 5px;
    display: block;
    width: 65% !important;
}

.trans_local_div {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    font-size: 11px;
    margin-top: 5px;
    padding: 1px 10px;
    margin-left: .2em;
    background-color: #036fa2;
    border-radius: 5px;
    width: 12% !important;
}

.trans_original_div {
    color: #ffffff;
    backgroundColor = '#b5e1b9';
}

.current-string {
    display:block;
    font-weight: 600;
    font-size: 12px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

del {
    text-decoration: none;
    color: #b30000;
    background: #fadad7;
}

ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none;
}
table.translations th.filler_status {
    width: 2em !important;
    text-align: center;
    display :none;
}
table.translations tr.row_filler_status {
    width: 2em !important;
    text-align: right;
    display:none;
}
table.translations th.priority, table.translations td.priority {
    padding: 0px !important;
    width: 6% !important;
    display: table-cell !important;
    font-size: 15px !important;
    text-align: center !important;
    line-height: 1.6 !important;
    padding: 0.5em !important;
    /* vertical-align: middle !important; */
    font-weight: 700 !important;
    color: #fff !important;
}

table.translations .gp-column-priority {
    width: 6% !important;
}

table.translations td.priority {
    vertical-align: middle !important;
    font-size: 14px !important;
}

/* This setting is necessary to move the row down due to the header that is no longer fixed */
/*table.translations tr.preview {
    scroll-margin-top: 32px;
}*/

/** The change below is for issue# 137 modification in GlotDict*/
table.translations tr.preview.has-glotdict th + .priority + .original::before {
     margin-left: calc(-0.5em - 45px) !important;
}

tr.editor {
    scroll-margin-top: 62px !important;
}
/*The below line is to prevent untranslated originals to show up when bulk saving*/
tr.preview.status-hidden {
    display:none !important;
}

tr.preview.wptf-saved {
    display: none !important;
}
/** The change below is for issue# 137 modification in GlotDict*/
table.translations tr.preview.has-glotdict.has-warnings th + .priority + .original::before {
    margin-left: calc(-.5em - 48px) !important;
}

#tf-save-button {
    font-size: 12px !important;
    height: 20px;
    line-height: 1;
    margin-top: 5px !important;
    margin-bottom : 6px !important;
    /*margin: 0px !important;*/
    padding: 0px 2px !important; 
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    cursor:pointer !important;
}

/**The below code overrules an injection from other later loaded addons!!*/
button[disabled] {
    background: #0085ba !important;
    color: #fff !important;
}

/**The below code is overruled by later loaded addons!!*/
.tf-save-button-disabled {
    background: #0085ba !important;
    color: #fff !important;
}
#tf-save-button.ready {
    display:none;
}
#tf-bulk-button {
    font-size: 12px !important;
    height: 20px;
    line-height: 1;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px 2px !important;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    cursor: pointer !important;
}
/** Start of cuteAlert **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

.alert-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding: 0px;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background: rgb(0, 0, 0, 0.3);
    z-index: 999999;
}

@keyframes open-frame {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(0.97);
    }

    75% {
        transform: scale(0.93);
    }

    100% {
        transform: scale(1);
    }
}

.alert-frame {
    margin-top: auto;
    background: #fff;
    min-height: 400px;
    width: 300px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: open-frame 0.3s linear;
}

.alert-header {
    display: flex;
    flex-direction: row;
    height: 175px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.alert-img {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.alert-close {
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    line-height: 30px;
    transition: color 0.5s;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
}

.alert-close-circle {
    width: 30px;
    height: 30px;
    background: #e4eae7;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17.5px;
    margin-top: -15px;
    margin-right: -15px;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
    transition: background 0.5s;
    margin-left: auto;
}

    .alert-close-circle:hover {
        background: #fff;
    }

.alert-close:hover {
    color: rgb(0, 0, 0, 0.5);
}

.alert-body {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.alert-title {
    font-size: 18px !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 35px;
    color: #222;
    align-self: center;
}

.alert-message {
    font-size: 15px !important;
    color: #666;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.6;
    align-self: center;
}

.alert-button {
    min-width: 140px;
    height: 35px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    padding: 0 15px;
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .alert-button:focus {
        outline: 0;
    }

.question-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.confirm-button {
    min-width: 100px;
    height: 35px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    padding: 0 15px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .confirm-button:focus {
        outline: 0;
    }

.cancel-button {
    min-width: 100px;
    height: 35px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1.6;
    transition: background 0.5s;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .cancel-button:focus {
        outline: 0;
    }

@keyframes open-toast {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    20%, 45% {
        transform: scaleX(1.35) scaleY(0.1);
    }

    65% {
        transform: scaleX(0.8) scaleY(1.7);
    }

    80% {
        transform: scaleX(0.6) scaleY(0.85);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

/** This container is used for the toast messages */
.toast-container {
    top: 15px;
    right: 15px;
    min-width: 250px;
    overflow: hidden;
    position: fixed;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    animation: open-toast 0.3s linear;
    z-index: 999999;
}

.toast-frame {
    padding: 5px 5px;
    display: flex;
    min-width: 100px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center ;
    flex-wrap: wrap;
}

.toast-img {
    height: 40px;
}

.toast-message {
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
}

.toast-close {
    color: rgb(0, 0, 0, 0.2);
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.5s;
    margin-left: 20px;
}

@keyframes timer {
    0% {
        width: 100%;
    }

    25% {
        width: 75%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 25%;
    }

    100% {
        width: 1%;
    }
}

.toast-timer {
    width: 1%;
    height: 5px;
}

.toast-close:hover {
    color: rgb(0, 0, 0, 0.5);
}

.error-bg {
    background: #d85261;
}

.success-bg {
    background: #2dd284;
}

.warning-bg {
    background: #fada5e;
}

.question-bg {
    background: #779ecb;
}

.error-btn:hover {
    background: #e5a4b4;
}

.success-btn:hover {
    background: #6edaa4;
}

.warning-btn:hover {
    background: #fcecae;
}

.info-btn:hover {
    background: #c3e6fb;
}

.question-btn:hover {
    background: #bacee4;
}

.error-timer {
    background: #e5a4b4;
}

.success-timer {
    background: #6edaa4;
}

.warning-timer {
    background: #fcecae;
}

.info-timer {
    background: #c3e6fb;
}

.info-bg {
    background: #88cef7;
}

/** End of cuteAlert **/
.panel-header__bubble--waiting {
    color: #000000 !important;
    border-color: #000000 !important;
}

table.translations tr.preview.wptf-translated {
    background-color: #ffe399;
}

table.translations tr.preview.status-rejected {
    background-color: #eb9090 !important;
}

table.translations tr.preview.status-changesrequested {
    background-color: #87ceeb !important;
}

table.translations tr.preview.status-fuzzy {
    background-color: #f6a983 !important;
}
.highlight {
    background: lightpink;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    background-color: #0085ba;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    min-width: 40px;
    height: 35px;
    border: 1px solid #ccc;
    /* Other styles here */
}

/* Tooltip text */
.tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #0085ba;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      /* Fade in tooltip */
      opacity: 0;
      transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
}

/* Tooltip container for marking missing glossary verbs */
.mark-tooltip {
    position: relative;
    display: inline-block;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    width: 30px;
    height: 30px;
    /* Other styles here */
}
/* Tooltip text */
.mark-tooltip .mark-tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: darkgrey;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 0%;
    margin-left: 240px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    }

/* Tooltip arrow */
.mark-tooltip .mark-tooltiptext::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #555 transparent transparent transparent;
    }
/* Show the tooltip text when you mouse over the tooltip container */
.mark-tooltip:hover .mark-tooltiptext {
     visibility: visible;
     opacity: 1;
    }

.mark-tooltip .mark {
     background-color: yellow;
}

.mark-devider {
     color:blue;
}

.mymark-tooltip:hover .mark-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.mymark-tooltip .mark {
    background-color: yellow;
}

@keyframes blinking {
    0% {
        background-color: #ff3d50;
        border: 2px solid #6565f2;
    }
    /* YOU CAN ADD MORE COLORS IN THE KEYFRAMES IF YOU WANT
  50% {
    background-color: #55d66b;
    border: 5px solid #126620;
  }
  */
    100% {
        background-color: #0085ba;
        border: 2px solid #fff;
    }
}

table.translations td.myCheckBox {
    text-align: center;
    border: 1px solid #72777c;
    border-top: 1px solid #72777c;
    border-bottom: 1px solid #72777c;
    border-right: 1px solid #72777c;
    display: table-cell !important;
    color: black;
}

table.translations th.thCheckBox {
    width: 3em !important;
    display: table-cell !important;
    font-size: 13px !important;
    text-align: center !important;
    padding: 0.5em !important;
    /* vertical-align: middle !important; */
    font-weight: 700 !important;
    padding: 0px !important;
    margin: 0px !important;
}

/*After Glotpress has improved remove this footer change  */
.wp-block-group.global-footer {
     padding-bottom: 32px !important; 
     padding-top: 12px !important; 
}

.wp-block-group.global-footer [class*=wp-container-].global-footer__logos-container {
     margin-top: 0px !important;
     top: 0px !important;
     top: var(--wp-admin--admin-bar--height,0) !important;
}

/*After Glotpress has improved remove this header change
.site-header {
    padding-top:32px !important;
}
     */
/*After Glotpress has improved remove this header change 
.wp-block-group.global-header {
    position: relative !important;
    top: 25px !important;
    --wp-global-header-height: 90px !important;
    --wp-global-header-offset: 85px !important; 
}
    */
/*After Glotpress has improved remove this header change */
/*html { */
     /*--wp-global-header-offset: 32 px !important;*/
     /*This one should move the editor down when scrolled*/
  /*  scroll-margin-top: 32px !important; 
}*/

/*#editor div.source-string {
    position: -webkit-sticky;
    position: sticky;
}
    */

/*After Glotpress has improved remove this header change */
/*@media screen and (min-width: 890px) {
        .admin-bar .editor-panel__left .panel-header,
        .admin-bar .editor-panel__right,
        .consistency-table tr.new-translation tr.preview th {
            top: 62px !important;
        }
}*/
 
/*Below code needs to be removed if GlotPress has improved the template */
 /*   .editor-panel__right { */
  /*  flex: 0 0 19rem !important; */
  /*  min-width: 1%; */
/*}*/